.signin {
    &Container {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        &Form {
            width: 320px;
            padding: 16px;
            &Username {
                margin-bottom: 16px;
            }
            &Password {
                margin-bottom: 8px;
            }
        }
        &SignupButton {
            display: flex;
            font-size: 12px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
