@import 'primereact/resources/themes/mdc-dark-indigo/theme.css';
@import 'primeicons/primeicons.css';

:root {
    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}
